.nt-container {
  display: flex;
  flex-flow: row nowrap;
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
}
.nt-container .nt-container {
  height: calc(100% - var(--ph-header-height));
}
.nt-container.nt-layout-vertical {
  flex-direction: column;
  width: 100%;
}
.nt-aside {
  overflow: auto;
  box-sizing: border-box;
  width: 240px;
  flex-shrink: 0;
  border-right: 1px solid #dedede;
  padding: 10px;
}
.nt-header {
  padding: 0 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #dedede;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ph-header-height);
}
.nt-main {
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 10px;
  flex-grow: 1;
  -webkit-overflow-scrolling: touch;
}