.nt-tabbar {
  --nt-tabbar-hover-color: var(--nt-primary-color-light1);
  --nt-tabbar-active-color: var(--nt-primary-color);
  --nt-tabbar-item-gap: 0;
  --nt-tabbar-height: 38px;
  position: relative;
  overflow: hidden;
  height: var(--nt-tabbar-height);
}

.nt-tabbar-wrapper {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  align-items: stretch;
}

.nt-tabbar-item {
  color: #666;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.nt-tabbar-item:hover {
  color: var(--nt-tabbar-hover-color);
}
.nt-tabbar-item.active {
  color: var(--nt-tabbar-active-color);
}

.nt-tabbar-item-icon {
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nt-tabbar-item-icon.only {
  font-size: 24px;
  margin-bottom: 0;
}
/* nav */
.nt-tabbar--nav {
  --nt-tabbar-height: 50px;
  width: 100%;
}

.nt-tabbar--nav .nt-tabbar-item {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1;
}

/* bar */
.nt-tabbar--bar {
  --nt-tabbar-bar-vertical-padding: 10px;
  --nt-tabbar-item-gap: 30px;
  --nt-tabbar-line-color: var(--nt-primary-color);
  overflow: auto;
  white-space: nowrap;
}

.nt-tabbar--bar .nt-tabbar-item:not(:first-child) {
  margin-left: var(--nt-tabbar-item-gap);
}
.nt-tabbar--bar-line {
  position: absolute;
  width: 32px;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  height: 2px;
  background-color: var(--nt-tabbar-line-color);
  transition: all 0.3s ease-in-out;
}

/* card */
.nt-tabbar--card {
  --nt-tabbar-card-border-color: #f5f7fa;
  --nt-tabbar-line-color: #fff;
  --nt-tabbar-item-gap: 0;
  --nt-tabbar-card-border-radius: 5px;
}
.nt-tabbar-card-border {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--nt-tabbar-card-border-color);
}
.nt-tabbar--card .nt-tabbar-item {
  padding: 0 15px;
  background: #f5f7fa;
  border: 1px solid #f0f0f0;
}

.nt-tabbar--card .nt-tabbar-item:first-child {
  border-top-left-radius: var(--nt-tabbar-card-border-radius);
}
.nt-tabbar--card .nt-tabbar-item:last-child {
  border-top-right-radius: var(--nt-tabbar-card-border-radius);
}
.nt-tabbar-gap .nt-tabbar-item {
  border-top-left-radius: var(--nt-tabbar-card-border-radius);
  border-top-right-radius: var(--nt-tabbar-card-border-radius);
}
.nt-tabbar--card .nt-tabbar-item:not(:first-child) {
  margin-left: var(--nt-tabbar-item-gap);
}
.nt-tabbar--card .nt-tabbar-item.active {
  background: #fff;
}
