.nt-tabbar {
  --nt-tabbar-hover-color: var(--nt-primary-color-light1);
  --nt-tabbar-active-color: var(--nt-primary-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
}

.nt-tabbar-item {
  color: #666;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.nt-tabbar-item:hover {
  color: var(--nt-tabbar-hover-color);
}
.nt-tabbar-item.active {
  color: var(--nt-tabbar-active-color);
}

.nt-tabbar-item-icon {
  font-size: 18px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nt-tabbar-item-icon.only {
  font-size: 24px;
  margin-bottom: 0;
}
/* nav */
.nt-tabbar--nav {
  --nt-tabbar-nav-height: 50px;
  width: 100%;
  height: var(--nt-tabbar-nav-height);
  align-items: stretch;
}

.nt-tabbar--nav .nt-tabbar-item {
  flex-grow: 1;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1;
}

/* bar */
.nt-tabbar--bar {
  --nt-tabbar-bar-vertical-padding: 10px;
  --nt-tabbar-bar-gap: 30px;
  --nt-tabbar-bar-color: var(--nt-primary-color);
  overflow: auto;
  white-space: nowrap;
}

.nt-tabbar--bar .nt-tabbar-item {
  padding: var(--nt-tabbar-bar-vertical-padding) 0;
}

.nt-tabbar--bar .nt-tabbar-item:not(:first-child) {
  margin-left: var(--nt-tabbar-bar-gap);
}
.nt-tabbar--bar-line {
  position: absolute;
  width: 32px;
  left: 0;
  bottom: 0;
  border-radius: 1px;
  height: 2px;
  background-color: var(--nt-tabbar-bar-color);
  transition: all 0.3s ease-in-out;
}
