.nt-card {
  border-radius: 4px;
  border: 1px solid var(--nt-border-color);
  background-color: #ffffff;
  color: #333;
  box-shadow:
    0 1px 3px 0 rgb(0 0 0 / 0.1),
    0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.nt-card__header {
  border-bottom: 1px solid var(--nt-border-color);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nt-card__footer {
  border-top: 1px solid var(--nt-border-color);
  box-sizing: border-box;
}
.nt-card__header,
.nt-card__body,
.nt-card__footer {
  padding: 15px;
}
