.nt-switch {
  --nt-switch-height: 22px;
  --nt-switch-width: 40px;
  display: inline-flex;
  width: var(--nt-switch-width);
  height: var(--nt-switch-height);
  align-items: center;
  justify-content: flex-start;
  background-color: #dcdfe6;
  border-radius: calc(var(--nt-switch-height) / 2);
  padding: 2px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;
  border: 1px solid #c2c2c2;
}

.nt-switch:hover,
.nt-switch.nt-switch--checked:hover {
  border-color: var(--nt-primary-color, #722ed1);
}

.nt-switch--checked {
  background-color: var(--nt-primary-color, #722ed1);
  border-color: var(--nt-primary-color, #722ed1);
}

.nt-switch-action {
  position: absolute;
  width: calc(var(--nt-switch-height) - 6px);
  top: 2px;
  left: 2px;
  bottom: 2px;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: 12px;
}

.nt-switch-text {
  color: #fff;
  padding-left: calc(var(--nt-switch-width) - 20px);
  transition: padding-left 0.3s ease-in-out;
}

.nt-switch--checked .nt-switch-action {
  left: calc(var(--nt-switch-width) - var(--nt-switch-height) + 3px);
}
.nt-switch--checked .nt-switch-text {
  padding-left: 5px;
}
