.nt-select {
  display: inline-flex;
  min-height: var(--nt-form-edit-height, 32px);
  width: 100%;
  border: 1px solid var(--nt-border-color, #dedede);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 4px;
  gap: 5px;
}
.nt-select:hover {
  border-color: var(--nt-primary-color-light1, #9254de);
}
.nt-select--arrow,
.nt-select-placeholder {
  color: #999;
}
.nt-select-inner {
  font-size: 0;
  overflow: hidden;
}
.nt-select-main {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  font-size: 14px;
  line-height: 1;
}
.nt-select--arrow {
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  transform: rotate3d(0, 0, 1, 0deg);
}
.nt-select--arrow.nt-expanded {
  transform: rotate3d(0, 0, 1, 180deg);
}
.nt-select-list {
  max-height: 190px;
  overflow: auto;
}
.nt-select-popover {
  padding: 0;
}
.nt-select-option {
  box-sizing: border-box;
  height: var(--nt-form-edit-height, 32px);
  line-height: var(--nt-form-edit-height, 32px);
  padding: 0 10px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nt-select-option:hover {
  background-color: var(--nt-primary-color-light4, #efdbff);
}
.nt-select-option--selected {
  color: var(--nt-primary-color-light1, #9254de);
}
