.nt-select {
  display: inline-flex;
  min-height: var(--nt-form-edit-height, 32px);
  width: 100%;
  border: 1px solid var(--nt-border-color, #dedede);
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  padding: 4px 10px;
  border-radius: 4px;
  gap: 5px;
}
.nt-select--active,
.nt-select:hover {
  border-color: var(--nt-primary-color-light1, #9254de);
}
.nt-select--arrow,
.nt-select-placeholder {
  color: #a8abb2;
}
.nt-select--clear {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #afafaf;
  transition: color 0.3s ease-in-out;
}
.nt-select--clear:hover {
  color: #929292;
}
.nt-select-main {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  font-size: 14px;
  line-height: 1;
  flex-grow: 1;
  overflow: hidden;
}
.nt-select-item {
  flex-shrink: 0;
}
.nt-select-search {
  flex-grow: 1;
  display: inline-flex;
}
.nt-select--arrow {
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
  transform: rotate3d(0, 0, 1, 0deg);
}
.nt-select--arrow.nt-expanded {
  transform: rotate3d(0, 0, 1, 180deg);
}
.nt-select-list {
  max-height: 190px;
  overflow: auto;
}
.nt-select-popover {
  --nt-select-option-hover-color: var(--nt-primary-color-light4, #efdbff);
  padding: 0;
}
.nt-select-option {
  box-sizing: border-box;
  height: var(--nt-form-edit-height, 32px);
  line-height: var(--nt-form-edit-height, 32px);
  padding: 0 10px;
  cursor: pointer;
  color: #333;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nt-select-option--empty {
  --nt-select-option-hover-color: #ffffff;
  justify-content: center;
  cursor: default;
  color: var(--nt-info-color, #999);
}
.nt-select-option:hover {
  background-color: var(--nt-select-option-hover-color);
}
.nt-select-option--selected {
  color: var(--nt-primary-color-light1, #9254de);
}
.nt-select--input {
  min-width: 15px;
  background-color: transparent;
  border: none;
  outline: none;
  max-width: 100%;
  padding: 0;
  margin: 0;
  width: 0;
  flex-grow: 1;
}
.nt-select--input::placeholder {
  color: #a8abb2;
}
