.nt-image-preview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
}
.nt-image-preview__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  background-color: #000;
}
.nt-image-preview__btn {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  opacity: 0.8;
  cursor: pointer;
  background-color: #606666;
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out;
}
.nt-image-preview__btn:hover {
  color: var(--nt-primary-color, #4998f6);
}

.nt-image-preview__close {
  top: 30px;
  right: 30px;
}

.nt-image-preview__prev,
.nt-image-preview__next {
  top: 50%;
  transform: translateY(-50%);
}
.nt-image-preview__prev {
  left: 30px;
}
.nt-image-preview__next {
  right: 30px;
}

.nt-image-preview__actions {
  cursor: default;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 25px;
  width: auto;
  border-radius: 20px;
}

.nt-image-preview__actions .nt-image-preview__btn {
  position: static;
  width: 40px;
}

.nt-image-preview-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nt-image-preview-img {
  max-width: calc(100vw - 40px);
  max-height: calc(100vh - 200px);
  vertical-align: middle;
  transform-origin: center center;
  transition: all 0.25s ease;
  user-select: none;
}
