.nt-checkbox {
  --nt-checkbox-size: 16px;
  --nt-checkbox-label-color: #333;
  --nt-checkbox-checked-color: var(--nt-primary-color, #4998f4);
  --nt-checkbox-disabled-color: #e6e6e6;
  --nt-checkbox-disabled-label-color: #c0c4cc;
  --nt-checkbox-item-margin: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  vertical-align: middle;
}
.nt-checkbox__input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}
.nt-checkbox__label {
  color: var(--nt-checkbox-label-color);
  transition: color 0.3s ease-in-out;
  margin-left: 5px;
}
.nt-checkbox__inner {
  width: var(--nt-checkbox-size);
  height: var(--nt-checkbox-size);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #dcddd9;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.nt-checkbox__inner::after {
  content: '';
  width: calc(var(--nt-checkbox-size) * 0.6);
  height: calc(var(--nt-checkbox-size) * 0.3);
  display: block;
  border: solid 1px transparent;
  border-right: none;
  border-top: none;
  transform: rotate(-45deg);
  transition: border-color 0.2s ease-in-out;
  margin-top: -3px;
}
.nt-checkbox--indeterminate .nt-checkbox__inner {
  background-color: var(--nt-checkbox-checked-color);
}
.nt-checkbox--indeterminate .nt-checkbox__inner::before {
  content: '';
  width: calc(var(--nt-checkbox-size) * 0.4);
  height: 1px;
  display: block;
  border: solid 1px #fff;
  border-right: none;
  border-top: none;
  border-left: none;
  position: absolute;
}
.nt-checkbox:hover .nt-checkbox__inner {
  border-color: var(--nt-checkbox-checked-color);
}
.nt-checkbox__input:checked + .nt-checkbox__inner {
  background-color: var(--nt-checkbox-checked-color);
}
.nt-checkbox__input:checked + .nt-checkbox__inner::after {
  border-color: #fff;
}
.nt-checkbox__input:checked ~ .nt-checkbox__label {
  color: var(--nt-checkbox-checked-color);
}

.nt-checkbox--disabled {
  --nt-checkbox-checked-color: var(--nt-checkbox-disabled-color);
  cursor: not-allowed;
}
.nt-checkbox--disabled .nt-checkbox__inner {
  border-color: var(--nt-checkbox-disabled-color);
}
.nt-checkbox--disabled .nt-checkbox__inner::after {
  border-color: transparent;
}
.nt-checkbox--disabled .nt-checkbox__label {
  color: var(--nt-checkbox-disabled-label-color);
}
.nt-checkbox-group {
  display: flex;
  align-items: center;
}

.nt-checkbox-group .nt-checkbox:not(:first-child) {
  margin-left: var(--nt-checkbox-item-margin);
}

.nt-checkbox--button .nt-checkbox__label {
  display: inline-flex;
  height: var(--nt-form-edit-height, 32px);
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border: 1px solid #c0c4cc;
  border-left-width: 0;
  margin-left: 0;
}
.nt-checkbox--button:first-child .nt-checkbox__label {
  border-left-width: 1px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.nt-checkbox--button:last-child .nt-checkbox__label {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.nt-checkbox--button .nt-checkbox__input:checked ~ .nt-checkbox__label {
  background-color: var(--nt-checkbox-checked-color);
  color: #fff;
  border-top-color: var(--nt-checkbox-checked-color);
  border-bottom-color: var(--nt-checkbox-checked-color);
  border-right-color: #fff;
}
.nt-checkbox-group .nt-checkbox--button:not(:first-child) {
  margin-left: 0;
}
