.nt-theme-btn {
  --nt-btn-text-color: rgb(156, 163, 175);
  --nt-btn-hover-text-color: #666666;
  width: var(--nt-form-edit-height, 32px);
  padding: 0;
  font-size: 20px;
}

@media (prefers-color-scheme: dark) or (html.dark) {
  .nt-theme-btn {
    --nt-btn-border-color: #ffffff;
    --nt-btn-background: transparent;
    --nt-btn-text-color: red;
  }
}
