/* 默认按钮，按钮的基础样式 */
.nt-btn {
  /* 按钮的文字颜色 */
  --nt-btn-color: rgba(0, 0, 0, 0.65);
  /* 按钮的背景色 */
  --nt-btn-bg-color: #fff;
  /* 按钮的边框颜色 */
  --nt-btn-border-color: #d9d9d9;
  /* 按钮的悬浮边框 less lighten(var(--nt-primary-color), 10) */
  --nt-btn-hover-color: #79b3f7;
  /* 按钮的点击颜色 */
  --nt-btn-active-color: #197df1;
  /* 按钮禁用 */
  --nt-btn-disabled-color: #c9c9c9;
  --nt-btn-disabled-bg-color: #fbfbfb;
  --nt-btn-disabled-border-color: #e6e6e6;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  box-sizing: border-box;
  padding: 0 11px;
  line-height: 1;
  height: var(--nt-form-edit-height);
  border-radius: 3px;
  font-size: 14px;
  color: var(--nt-btn-color);
  background: var(--nt-btn-bg-color);
  border: 1px solid var(--nt-btn-border-color);
  transition:
    border-color 0.3s,
    background-color 0.3s,
    color 0.3s;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica Neue,
    Arial,
    Noto Sans,
    sans-serif,
    apple color emoji,
    segoe ui emoji,
    Segoe UI Symbol,
    noto color emoji;
}

.nt-btn:hover {
  border-color: var(--nt-btn-hover-border-color, var(--nt-btn-hover-color));
  color: var(--nt-btn-hover-color);
  background-color: var(--nt-btn-hover-bg-color, var(--nt-btn-bg-color));
}

.nt-btn:active {
  border-color: var(--nt-btn-active-border-color, var(--nt-btn-active-color));
  color: var(--nt-btn-active-color);
  background-color: var(--nt-btn-active-bg-color, var(--nt-btn-bg-color));
}

.nt-btn [class*='nt-icon'] + span {
  margin-left: 5px;
}

/* primary 按钮样式 */
.nt-btn-primary {
  /* 按钮的颜色 */
  --nt-btn-color: #fff;
  /* 按钮的背景色 */
  --nt-btn-bg-color: var(--nt-primary-color);
  /* 按钮的边框颜色 */
  --nt-btn-border-color: var(--nt-primary-color);
  /* 按钮的悬浮边框 less lighten(var(--nt-primary-color), 10) */
  --nt-btn-hover-color: #fff;
  --nt-btn-hover-border-color: #79b3f7;
  --nt-btn-hover-bg-color: #79b3f7;
  /* 按钮的点击颜色 */
  --nt-btn-active-color: #fff;
  --nt-btn-active-border-color: #197df1;
  --nt-btn-active-bg-color: #197df1;
}

/* 按钮禁用时的样式 */
.nt-btn:not(.nt-btn-loading):disabled {
  border-color: var(--nt-btn-disabled-border-color);
  background-color: var(--nt-btn-disabled-bg-color);
  color: var(--nt-btn-disabled-color);
  cursor: not-allowed;
  opacity: 1;
}

/* 文本按钮样式 */
.nt-btn-text {
  /* 按钮的颜色 */
  --nt-btn-color: var(--nt-primary-color);
  /* 按钮的背景色 */
  --nt-btn-bg-color: transparent;
  /* 按钮的边框颜色 */
  --nt-btn-border-color: transparent;
  --nt-btn-hover-border-color: transparent;
  --nt-btn-active-border-color: transparent;
  --nt-btn-disabled-bg-color: transparent;
  --nt-btn-disabled-border-color: transparent;
  height: auto;
  padding: 5px;
}

/* 高度圆形按钮 */
.nt-btn-round {
  border-radius: calc(var(--nt-form-edit-height) / 2);
}

/* 全圆按钮 */
.nt-btn-circle {
  border-radius: 50%;
  width: var(--nt-form-edit-height);
  padding: 0;
}

/* 使按钮适合其父宽度，100% */
.nt-btn-block {
  width: 100%;
}
