.nt-list {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  position: relative;
}
.nt-list-loadmore {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}
.nt-list-icon {
  font-size: 24px;
  margin-right: 10px;
  transform: rotate3d(0, 0, 1, 80deg);
}
