/* 旋转动画 */
@keyframes nt-rotate-frame {
  from {
    transform: rotate3d(0, 0, 1, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
/** 应用旋转动画 */
.nt-rotate-anim {
  animation: nt-rotate-frame 1.5s infinite linear;
}
