@media screen and (min-width: 768px) {
  .nt-scrollbar {
    /* 滑块背景色 */
    --nt-scrollbar-bg: #d9d9d9;
    /* 滑块尺寸, 水平滚动条时为高度，垂直时为宽度 */
    --nt-scrollbar-size: 10px;
    /* 鼠标悬浮时滑块颜色 */
    --nt-scrollbar-hover: #bfbfbf;
    overflow: auto;
    scroll-behavior: smooth;
  }
  .nt-scrollbar::-webkit-scrollbar-thumb {
    background: var(--nt-scrollbar-bg);
    border-radius: calc(var(--nt-scrollbar-size) / 2);
  }
  .nt-scrollbar::-webkit-scrollbar {
    width: var(--nt-scrollbar-size);
    height: var(--nt-scrollbar-size);
  }
  .nt-scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--nt-scrollbar-hover);
  }
}
