.nt-tooltip {
  position: relative;
  display: inline-block;
}
.nt-tooltip-text {
  position: absolute;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  color: #fff;
  text-shadow: 0 -1px 0px #383838;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  background: #383838;
  border-radius: 3px;
  padding: 5px;
  font-size: 12px;
  white-space: nowrap;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
  z-index: 1;
}
.nt-tooltip-text::after {
  content: '';
  position: absolute;
  border-width: 5px;
  border-style: solid;
  left: 50%;
  margin-left: -5px;
}

/* 从顶部弹出的弹窗 */
.nt-tooltip-top .nt-tooltip-text {
  bottom: calc(100% + 7px);
}
.nt-tooltip-top .nt-tooltip-text::after {
  top: 100%;
  border-color: #383838 transparent transparent transparent;
}
/* 从底部弹出 */
.nt-tooltip-bottom .nt-tooltip-text {
  top: calc(100% + 7px);
}
.nt-tooltip-bottom .nt-tooltip-text::after {
  bottom: 100%;
  border-color: transparent transparent #383838 transparent;
}

/* 左边上对齐 */
.nt-tooltip-start .nt-tooltip-text {
  left: 0;
  transform: translate3d(0, 0, 0);
}
.nt-tooltip-start .nt-tooltip-text::after {
  left: 10px;
}
/* 右边对齐 */
.nt-tooltip-end .nt-tooltip-text {
  left: auto;
  right: 0;
  transform: translate3d(0, 0, 0);
}
.nt-tooltip-end .nt-tooltip-text::after {
  right: 10px;
  left: auto;
  margin-left: 0;
}

.nt-tooltip:hover .nt-tooltip-text {
  opacity: 1;
  visibility: visible;
}
