.nt-form-item {
  display: flex;

  font-size: 14px;
}
.nt-form-item__label {
  --nt-form-label-width: auto;
  --nt-form-edit-height: auto;
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: var(--nt-form-label-width);
  height: var(--nt-form-edit-height);
  line-height: var(--nt-form-edit-height);
  color: #606266;
  padding: 0 10px 0 0;
}
.nt-form-item.is-required .nt-form-item__label::before {
  content: '*';
  margin-right: 4px;
  color: var(--nt-warn-color, #f56c6c);
}
.nt-form-item__content {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}
.nt-form-item__error {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--nt-error-color, #ed3f13);
  padding-top: 3px;
}
.nt-form-item.is-error .nt-input {
  border-color: var(--nt-error-color, #ed3f13);
}
.nt-form-item .nt-input {
  width: 100%;
}

.nt-form .nt-form-item {
  margin-bottom: 20px;
}
.nt-form .nt-form-item__label {
  --nt-form-label-width: 80px;
  --nt-form-edit-height: 32px;
}

/** 行内表单 */
.nt-form-inline .nt-form-item {
  display: inline-flex;
  vertical-align: middle;
  margin-right: 20px;
}
.nt-form-inline .nt-form-item__label {
  --nt-form-label-width: auto;
}
