.nt-message-dialog-container {
  display: flex;
  align-items: center;
}

.nt-confirm-icon {
  margin-right: 5px;
}
.nt-confirm-icon--info {
  color: var(--nt-success-color, #999999);
}
.nt-confirm-icon--success {
  color: var(--nt-success-color, #19bf6c);
}
.nt-confirm-icon--error {
  color: var(--nt-error-color, #ed3f13);
}
.nt-confirm-icon--warn {
  color: var(--nt-warn-color, #f90);
}
