.nt-input {
  outline: none;
  box-sizing: border-box;
  height: var(--nt-form-edit-height, 32px);
  border: 1px solid #dedede;
  transition: border-color 0.3s;
  background-color: transparent;
  text-align: inherit;
  padding: 0 5px;
  border-radius: 3px;
  vertical-align: middle;
  width: 100%;
}
.nt-input.is-autosize {
  width: auto;
}
.nt-input:focus {
  border-color: var(--nt-primary-color, #52c41a);
}
