.mb-15 {
  margin-bottom: 15px;
}

.inline {
  display: inline-block;
}

.ml-10 {
  margin-left: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.grid {
  display: grid;
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.gap-4 {
  gap: 1rem;
}

.demo-img-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-preview .nt-header,
.code-preview .nt-footer {
  background-color: #c5e2ff;
}
.code-preview .nt-main {
  background-color: #ecf5ff;
}
.code-preview .nt-aside {
  background-color: #d9ecff;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */
/* HTML: <div class="tooltip">This is a Speech Bubble with a solid coloration and with border radius </div> */
.nt-tooltip--demo {
  color: #fff;
  font-size: 18px;
  max-width: 28ch;
  text-align: center;
}
.nt-tooltip--demo {
  /* triangle dimension */
  --b: 2em; /* base */
  --h: 1em; /* height */

  --p: 50%; /* triangle position (0%:left 100%:right) */
  --r: 1.2em; /* the radius */
  --c: #6a4a3c;

  padding: 1em;
  border-radius: min(var(--r), var(--p) - var(--b) / 2)
    min(var(--r), 100% - var(--p) - var(--b) / 2) var(--r) var(--r) / var(--r);
  clip-path: polygon(
    0 0,
    0 100%,
    100% 100%,
    100% 0,
    min(100%, var(--p) + var(--b) / 2) 0,
    var(--p) calc(-1 * var(--h)),
    max(0%, var(--p) - var(--b) / 2) 0
  );
  background: var(--c);
  border-image: conic-gradient(var(--c) 0 0) fill 0/ 0 calc(
      100% - var(--p) - var(--b) / 2
    ) var(--r) calc(var(--p) - var(--b) / 2) / var(--h) 0 0 0;
}
.nt-tooltip-bottom.nt-tooltip--demo {
  top: calc(100% + 20px);
}

#app {
  .icon-list {
    display: inline-grid;
    grid-template-columns: repeat(6, 1fr);
    border-top: 1px solid #dedede;
    border-left: 1px solid #dedede;
    column-gap: 0;
  }
  .icon-item {
    width: 100px;
    height: 90px;
    cursor: pointer;
    background-color: #fff;
    color: #666;
    transition: background-color 0.3s;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    box-sizing: border-box;
    &:hover {
      background-color: #f5f5f5;
    }

    .nt-icon {
      font-size: 20px;
    }
  }

  .icon-name {
    font-size: 14px;
    margin-top: 5px;
  }
}

@media screen and (max-width: 768px) {
  #app {
    .icon-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
