.nt-message {
  position: fixed;
  left: 50%;
  top: 20px;
  padding: 10px;
  transform: translate3d(-50%, 0, 0);
  transition:
    opacity 0.3s,
    transform 0.3s,
    top 0.3s;
  display: flex;
  align-items: center;
  border-radius: 5px;
  font-size: 14px;
  background: #f0faff;
  color: var(--nt-primary-color);
  border: 1px solid #d4eeff;
}
.nt-message .nt-message-icon {
  margin-right: 5px;
}
.nt-message.nt-message-success {
  background: #edfff3;
  color: var(--nt-success-color);
  border-color: #bbf2cf;
}
.nt-message.nt-message-error {
  background: #ffefe6;
  color: var(--nt-error-color);
  border-color: #ffcfb8;
}
.nt-message.nt-message-warn {
  background: #fff9e6;
  color: var(--nt-warn-color);
  border-color: #ffe7a3;
}
.nt-message-container {
  display: flex;
  align-items: center;
}

.nt-message-fade-enter-from,
.nt-message-fade-leave-to {
  opacity: 0;
  transform: translate3d(-50%, -100%, 0);
}

@media screen and (max-width: 768px) {
  .nt-message {
    width: 90%;
  }
}
