.nt-form-item {
  display: flex;
  margin-bottom: 15px;
  font-size: 14px;
}
.nt-form-item__label {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  width: var(--nt-form-label-width, 80px);
  height: var(--nt-form-edit-height, 32px);
  line-height: var(--nt-form-edit-height, 32px);
  color: #606266;
  padding: 0 10px 0 0;
}
.nt-form-item.is-required .nt-form-item__label::before {
  content: '*';
  margin-right: 4px;
  color: var(--nt-warn-color, #f56c6c);
}
.nt-form-item__content {
  flex: 1;
  position: relative;
}
.nt-form-item__error {
  font-size: 12px;
  line-height: 1;
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--nt-error-color, #ed3f13);
  padding-top: 2px;
}
.nt-form-item.is-error .nt-input {
  border-color: var(--nt-error-color, #ed3f13);
}
